apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-config
data:
  config.yml: |
    global:
      scrape_interval: 15s
    scrape_configs:
      - job_name: 'helloworld-metrics'
        static_configs:
          - targets: ['localhost:8080'] # Имитируем, что приложение в этом же поде